/* index.html中的css效果 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar {
    background-color: #007BFF;
    width: 200px;
    height: 100vh;
    padding: 20px;
}

.nav-item {
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.nav-item.active {
    background-color: #0056b3;
}

#main-content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.content-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.bot-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.details-section {
    border-top: 2px solid #007BFF;
    padding-top: 10px;
}

.bot-info-container {
    border: 2px solid #007BFF;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.bot-info-container::before {
    content: "运行基础信息";
    color: #007BFF;
    font-size: 16px;
    position: absolute;
    top: -10px;
    left: 20px;
    background: white;
    padding: 0 5px;
}

.collapsible-button {
    background-color: #e4e3fd;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 2px solid #bbc9fb;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.collapsible-button:hover {
    background-color: #BBDEFB;
}

.collapsible-content {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border-top: 2px solid #BBDEFB;
    transition: max-height 0.3s ease-out;
}
hr {
    border-top: 1px solid #BBDEFB;
}

.plugin-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plugin-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* 为每个选项卡之间添加一些间隙 */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.plugin-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.plugin-item:hover {
    background-color: #e1e1e1; /* 悬停时改变背景色 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 添加一些阴影效果提高互动性 */
}

.error-indicator .error-circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px; /* 保持与文字一定间距 */
}

.nav-item.highlight {
    color: red; /* 错误时的文字颜色 */
    animation: flashingBackground 1s infinite; /* 闪烁效果 */
}

@keyframes flashingBackground {
    0% { background-color: initial; }
    50% { background-color: yellow; }
    100% { background-color: initial; }
}

/* log.html中的css */
.log-container {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.log-controls {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.log-viewer {
    height: 700px;
    background-color: #201f1f; /* 更改背景颜色 */
    color: #ffffff; /* 设置字体颜色为浅色 */
    border: 1px solid #0de8e8; /* 边框颜色调整为更深 */
    overflow-y: auto; /* 保持自动滚动条 */
    padding: 5px;
    font-family: 'Courier New', monospace; /* 使用更适合代码显示的字体 */
    position: relative; /* 为滚动按钮设置定位基点 */
}

.scroll-to-bottom {
    display: none;
    position: fixed; /* 或其他适当定位 */
    bottom: 20px; /* 距离底部 */
    right: 20px; /* 距离右侧 */
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0b0b0b;
    border: none;
    cursor: pointer;
    z-index: 1000; /* 确保它位于顶层 */
    opacity: 1; /* 确保完全不透明 */
    visibility: visible; /* 确保是可见的 */
}

.pause-icon {
    display: inline-block;
    height: 14px; /* 图标的高度 */
    width: 14px; /* 容纳两个条的总宽度 */
    position: relative;
}

.pause-icon::before, .pause-icon::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px; /* 每个条的宽度 */
    background-color: black; /* 条的颜色 */
    top: 0;
}

.pause-icon::before {
    left: 1px; /* 第一个条的位置 */
}

.pause-icon::after {
    right: 1px; /* 第二个条的位置 */
}

.play-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent; /* 创建三角形的上半部分 */
    border-bottom: 7px solid transparent; /* 创建三角形的下半部分 */
    border-left: 14px solid black; /* 创建三角形的正面 */
}

/* plugins.html使用的css */
.search-bar input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.collapsible {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    outline: none;
    padding: 0;
    position: relative;
}

.collapsible:hover {
    background-color: #ccc;
}

.plugin-item {
    display: flex;
    flex-direction: column;
    background-color: #2ad7dd;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;  // 保持内容隐藏，直到被展开
}

.plugin-info {
    padding: 10px 20px;
    width: calc(100% - 80px);  // 留出状态标签的空间
}

.plugin-header {
    font-weight: bold;
    font-size: 16px;
}

.plugin-type {
    font-size: 14px;
}

.plugin-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
}

.status-running {
    background-color: #4CAF50;
}

.status-disable {
    background-color: #676363;
}

.status-error {
    background-color: #ff0000;
}

.plugin-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #e0e0e0;
    padding: 0 20px;
}

.plugin-details.open {
    max-height: 1000px; /* 调整这个值以适应内容大小 */
    padding: 10px 20px; /* 在展开时添加内边距 */
}

.plugin-introduction {
    white-space: pre-wrap; /* 保留空白符序列，但是正常换行 */
}

.error-message {
    color: red; /* 红色字体显示错误信息 */
    font-weight: bold; /* 可选：使字体加粗 */
}

/* plugins.html中专门用于展示和修改配置文件部分的css */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.textbox {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.add-button, .remove-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.add-button:hover, .remove-button:hover {
    background-color: #218838;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

/* 添加边框 */
.plugin-config-container {
    border: 1px solid #31c4af;
    padding: 10px;
    margin-top: 10px;
    position: relative; /* 相对定位 */
}

/* 分割线 */
hr {
    border: 0;
    border-top: 1px solid #31c4af;
    margin: 10px 0;
}

/* 表格样式 */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    border: 1px solid #31c4af;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #31c4af;
    cursor: pointer;
}

/* 按钮样式 */
.edit-config-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; /* 绝对定位 */
    top: 10px;
    right: 10px;
}

.edit-config-button:hover {
    background-color: #0056b3;
}

/* 禁用状态样式 */
input:disabled, .add-button:disabled, .remove-button:disabled {
    background-color: #e0e0e0;
    color: #595858;
    cursor: not-allowed;
}