/* index.html中的css效果 */
body {
    background-color: #101010;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar {
    position: fixed;
    background-color: #181818;
    width: 160px;
    height: 100%;
    padding-top: 30px;
}

.nav-item {
    color: #ffffff;
    font-size: 20px;
    padding: 20px 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #282828;
    transition: background-color 0.2s ease;
}

.nav-item.active, .nav-item.active:hover{
    background-color: #007bff;
    transition: background-color 0.2s ease;
}

#main-content {
    margin-left: 160px;
    flex-grow: 1;
    padding: 20px;
}

.content-section {
    background-color: #181818;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.bot-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-right: 30px;
}

.hidden {
    display: none;
}

.details-section {
    padding-top: 10px;
}

.bot-info-container {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin: 20px;
    position: relative;
}

.bot-info-container::before {
    content: '运行基础信息';
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
    padding-top: 10px;
}

.collapsible-button {
    background-color: #282828;
    cursor: pointer;
    width: 100%;
    padding: 15px 30px;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.collapsible-button:hover {
    background-color: #303030;
    transition: background-color 0.2s ease;
}

.collapsible-content {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.plugin-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plugin-item {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px; /* 为每个选项卡之间添加一些间隙 */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.plugin-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.plugin-item:hover {
    background-color: #303030; /* 悬停时改变背景色 */
    color: black;
    transition: background-color 0.2s ease;
}

.error-indicator .error-circle {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px; /* 保持与文字一定间距 */
}

.nav-item.highlight {
    color: red; /* 错误时的文字颜色 */
    animation: flashingBackground 1s infinite; /* 闪烁效果 */
}

@keyframes flashingBackground {
    0% { background-color: initial; }
    50% { background-color: yellow; }
    100% { background-color: initial; }
}

/* log.html中的css */
.log-container {
    margin: 10px;
    padding: 10px;
    background-color: #303030;
    border-radius: 8px;
}

.log-controls {
    margin: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

button {
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2990ff;
    transition: background-color 0.2s ease
}

.clear-button, .toggle-button {
    height: 48px;
    padding: 0 20px;
    margin-right: 10px;
    font-size: 16px;
}

.log-viewer {
    height: 700px;
    background-color: #181818; /* 更改背景颜色 */
    color: #ffffff; /* 设置字体颜色为浅色 */
    overflow-y: auto; /* 保持自动滚动条 */
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Courier New', monospace; /* 使用更适合代码显示的字体 */
    position: relative; /* 为滚动按钮设置定位基点 */
}

.scroll-to-bottom {
    display: none;
    position: fixed; /* 或其他适当定位 */
    bottom: 20px; /* 距离底部 */
    right: 20px; /* 距离右侧 */
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0b0b0b;
    border: none;
    cursor: pointer;
    z-index: 1000; /* 确保它位于顶层 */
    opacity: 1; /* 确保完全不透明 */
    visibility: visible; /* 确保是可见的 */
}

.pause-icon {
    display: inline-block;
    height: 14px; /* 图标的高度 */
    width: 14px; /* 容纳两个条的总宽度 */
    position: relative;
}

.pause-icon::before, .pause-icon::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px; /* 每个条的宽度 */
    background-color: white; /* 条的颜色 */
    top: 0;
}

.pause-icon::before {
    left: 1px; /* 第一个条的位置 */
}

.pause-icon::after {
    right: 1px; /* 第二个条的位置 */
}

.play-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent; /* 创建三角形的上半部分 */
    border-bottom: 7px solid transparent; /* 创建三角形的下半部分 */
    border-left: 14px solid white; /* 创建三角形的正面 */
}

/* plugins.html使用的css */
.search-bar input[type="text"] {
    width: 100%;
    height: 64px;
    padding: 10px;
    margin: 20px 0px;
    box-sizing: border-box;
    background-color: #303030;
    color: white;
    border: 0px solid;
    border-radius: 8px;
}

.search-bar input:hover {
    background-color: #383838;
    transition: background-color 0.2s ease;
}

.collapsible {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    margin: 10px 0;
}

.plugin-item:hover {
    color: white;
    background-color: #303030;
    transition: background-color 0.2s ease;
}

.plugin-item {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;  /* 保持内容隐藏，直到被展开 */
}

.plugin-info {
    padding-left: 20px;
    width: calc(100% - 80px);  /* 留出状态标签的空间 */
}

.plugin-header {
    font-weight: bold;
    font-size: 16px;
}

.plugin-type {
    font-size: 14px;
}

.plugin-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
}

.status-running {
    border: 2px solid lime;
}

.status-disable {
    border: 2px solid skyblue;
}

.status-error {
    border: 2px solid red;
}

.plugin-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: white;
    background-color: #181818;
    padding: 0 20px;
}

.plugin-details.open {
    max-height: 1000px; /* 调整这个值以适应内容大小 */
    padding: 10px 20px; /* 在展开时添加内边距 */
}

.plugin-introduction {
    white-space: pre-wrap; /* 保留空白符序列，但是正常换行 */
}

.error-message {
    color: red; /* 红色字体显示错误信息 */
    font-weight: bold; /* 可选：使字体加粗 */
}

/* plugins.html中专门用于展示和修改配置文件部分的css */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.textbox {
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.add-button, .remove-button {
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-button {
    margin-left: 10px;
    background-color: green;
}

.add-button:hover {
    background-color: #00a000;
    transition: background-color 0.2s ease;
}

.remove-button {
    position: relative;
    background-color: #990000;
}

.remove-button:hover {
    background-color: #cc0000;
    transition: background-color 0.2s ease;
}

.plugin-config-container {
    padding: 10px, 0;
    margin-top: 10px;
    position: relative; /* 相对定位 */
}

.config-item {
    padding: 0px 10px;
    margin: 40px 40px;
    border-left: 2px solid #007bff;
}

/* 分割线 */
hr {
    border: 0;
    border-top: 2px solid #007bff;
    margin: 20px 0;
}

/* 表格样式 */
.table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    border-bottom: 1px solid #303030;
    padding: 8px;
}

.table th {
    text-align: left;
    font-size: 20px;
    padding-bottom: 20px;
}

.table td {
    border-top: 1px solid #303030;
}

/* 按钮样式 */
.edit-config-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; /* 绝对定位 */
    top: 10px;
}

.edit-config-button:hover {
    background-color: #2990ff;
    transition: background-color 0.2s ease;
}

/* 禁用状态样式 */
input:disabled, .add-button:disabled, .remove-button:disabled, .slider:disabled {
    background-color: #383838;
    color: #606060;
    cursor: not-allowed;
}