<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="search-bar">
        <input type="text" id="plugin-search" placeholder="搜索插件..." onkeyup="searchPlugins()">
    </div>
    <div id="plugins-container">
        {% for name, plugin in plugins.items() %}
        <div class="plugin-item" id="{{ name }}">
            <button onclick="togglePluginDetails('{{ name }}')" class="collapsible">
                <div class="plugin-info">
                    <div class="plugin-header">{{ name }}</div>
                    <div class="plugin-type">Type: {{ plugin.type }}</div>
                </div>
                <div id="status-{{ name | lower }}" class="plugin-status {{ 'status-' + plugin.status | lower }}">{{ plugin.status | capitalize }}</div>
            </button>
            <div class="plugin-details">
                <div>插件作者：{{ plugin.other_info.author }}</div>
                <div class="plugin-introduction">插件简介：{{ plugin.other_info.introduction }}</div>

                <!-- 条件显示错误信息 -->
                {% if plugin.status == 'error' %}
                <div class="error-message">报错信息：{{ plugin.other_info.error_info }}</div>
                {% endif %}

                <button class="button" id="button-{{ name }}" data-status="{{ plugin.status }}" onclick="togglePluginStatus('{{ name }}', this.getAttribute('data-status'))">切换状态</button>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>